<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Deleting entry from the form</title>

</head>


<body>
<style>
body {background-color: powderblue;}
    h1   {color: black;}
    p    {color: red;}
    body {background-color: powderblue;}
    h1   {color: black;}

    p    {color: red;}
    .myDiv {
    border: 2px outset black;
    background-color: #fffff;
    text-align: center;
    background-size: 100% 100%;
}</style>

<form method="POST" action="">
<table  align="center">
    <header style="background-color:tomato"  align = "center"> <h2> Delete visitor details </h2> </header>

  <tr>
    <td>
      <h2 style="color:gray" > Enter visitor id for deletion</h2>
    </td>
    <td> <input type="'text" name="id"></td>
  </tr>
  <tr>
    <td align="right"> <input type="submit" value="delete" name="delete" style="color:red"></td>
  </tr>

</table>
</form>
<div style="background-color:#FF00FF" align="center"  >
<!--    <footer style="background-color:#FF00FF; justify-content:center; gap: 2em;" >-->
<footer>
  <button ><a href="/home" class="w3-button w3-bar-item">Home</a></button>
<button ><a href="/index" class="w3-button w3-bar-item">Index</a></button>
    <button ><a href="/userdetails" class="w3-button w3-bar-item">Visitor Details</a></button>
<button ><a href="/form" class="w3-button w3-bar-item">Register</a></button>
<button ><a href="/delete" class="w3-button w3-bar-item">delete</a></button>
    <button><a href="/update" class="w3-button w3-bar-item">update</a></button>

</footer>

</div>


</body>
</html>